html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dp-container {
  display: flex;
  flex-direction: column;
}

#dp-title-container {
  background-color: #64BA9D;
  color: #fff;
  text-transform: uppercase;
  font-family: "Lato";
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.dp-switch-month {
  background: transparent;
  border: none;
  height: 10px;
}

button#dp-next-month {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAVCAYAAABLy77vAAAAAXNSR0IArs4c6QAAAQNJREFUOBGllDEKwkAQRbMSEATTpbQ2paAX0AuoBxBtbbT0DqJeQD2BeAG9gNYaazstTG8X30AC084aeGRg+W/DZmZdnueLIAiqsHTOfXn7PYgiOMATBn4WlULShRTOkKgle4kghBl8YAOR3aISCGLYwhsm4NSyvUTQhgtcoWM3qAQCB2OQr9tDrJbtJYI6rCCDOYR2i0ogaMIJHtBTS34lkj5I7x2h4WcpUghqIOeWVXxNhGUKUpBea5k9CBKQM5IpsJ8RIZnJNUjX2/8aobKPXtQ7sPcRof86W3YtdvebNcJ6+uU87NNPSO6jO/jdR7IrlDfk0NwPRUAGbwo3GP1zZ/8AQvcbHO/NYBcAAAAASUVORK5CYII=') no-repeat;
}

button#dp-prev-month {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAVCAYAAABLy77vAAAAAXNSR0IArs4c6QAAAQdJREFUOBGllLsOAUEYRq1sIpu4dCqJBg9A0FHoNWoFb6Cm2K0kPIKElsLWGrWIQqEQldDQ8ArrjGSToZt/JzmZf3bynUzmslYsQguCIEPcg31c4kFgQZ/sBRzwjT0IanCAHZQlgizBBTygKxHYBAfwggkkJZIWwTNsoCQR5An6cIW2ROAQ9OANQ0hIJB2Cd1hCTiIoENzCCRrGgjBAWLUx2OE3Sa9udhHqcETWlEh+MkjUHt1gBeZ7pNsQqFNzQZ3aCMxP7U+YR7KGK5jfI12maiTRbrYuRKa/tSnjlD5vXCNQr38O39dPbxlL9ACCKoT/o4o+Z1yr1UAPnjCDRKTlIUizChcOH3DAEESm+MYlAAAAAElFTkSuQmCC') no-repeat;
}

#dp-weekdays-container {
  display: flex;
}

.dp-weekday {
  flex: 1;
  height: 30px;
  width: 30p;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dp-weeks-container {
  display: flex;
  flex-direction: column;
}

.dp-week {
  display: flex;
}

.dp-day {
  flex: 1;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
