html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dp-container {
  width: 250px;
  height: 290px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
}

#dp-main-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#dp-title-container {
  color: #64BA9D;
  background-color: #e6e6e6;
  text-transform: uppercase;
  font-family: "Lato";
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 12px;
}

#dp-title {
  flex: 2;
  text-align: center;
}

#dp-switch-prev-month-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

#dp-switch-next-month-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

button.dp-switch-month {
  background: transparent;
  border: none;
  color: #64BA9D;
  font-size: 1em;
  cursor: pointer;
  flex: 1;
}

button.dp-switch-month:focus {
  outline: none;
}

#dp-weekdays-container {
  display: flex;
  color: #64BA9D;
  font-size: .8em;
}

.dp-weekday {
  flex: 1;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dp-weeks-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.dp-week {
  display: flex;
  flex: 1;
}

.dp-day {
  flex: 1;
  background-color: transparent;
  border: none;
  color: #e6e6e6;
}

.dp-day.dp-current-month {
  cursor: pointer;
  color: #757575;
}

.dp-day.dp-chosen {
  background-color: #ddd;
  border-radius: 50%;
  color: #fff;
}

.dp-day.dp-current-month.dp-chosen {
  background-color: #3295ff;
  color: #fff;
}

.dp-day:focus {
  outline: none;
}
